<!DOCTYPE HTML>
<html>
    <head> 
        <title>Encora Test</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
<body>
    <div style="background-color: #e0e0e0; display: flex; flex-wrap: wrap;justify-content: center;">
        <div style="width: 50%;background-color: white; margin: auto;">
            <div style="text-align: center;">
                <img width="100px" src="https://cdn.tripadvisor.com/img2/email/viator_logo_v2.png">
            </div>
            <div>
                <h1>{{ titleh1 }}</h1>
                <h1 style="text-align: center;font-weight: 600;font-family: Poppins, Helvetica, Arial, sans-serif;font-size: 1.75rem;color: #2A2D32;">
                    Explore the unexpected in Barcelona
                </h1>
                <div style="text-align: center;">
                    <img src="{{ geoImage }}" width="100%">
                </div>
                <p 
                    style="text-align: center;margin: 1rem;font-family: Poppins, Helvetica, Arial, sans-serif;font-size: 0.875rem;color: #2A2D32;font-weight:400;font-size: 0.875rem;line-height: 1.5;"
                >
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam numquam vero natus et, exercitationem culpa vitae minima eos fuga, adipisci obcaecati ipsum dolorem officia, debitis quos ut dicta aspernatur possimus.
                </p>
                <button 
                    style="font-weight: 600;padding-bottom: 1rem;padding-top: 1rem;border-radius: 4px;text-decoration: none;background-color: #AF143E;border-color: #AF143E; width: 100%;color: white;font-family: Poppins, Helvetica, Arial, sans-serif;font-size: 0.875rem;"
                >Discover hidden gems</button>
                <h2
                    style="font-family: Poppins, Helvetica, Arial, sans-serif;color: #2A2D32;padding: 1rem;font-size: 1.25rem;"
                >Top pick based on your bookings</h2>

                {% for item in recommendedProducts %}
                <div style="display: flex;flex-wrap: wrap;margin-bottom: 0.5rem;">
                    <div style="width:50%; display: flex;flex-direction: column;justify-content: space-between;">
                        <h3
                            style="font-family: Poppins, Helvetica, Arial, sans-serif;color: #2A2D32;padding-left: 1rem;padding-right: 1rem;font-size: 1rem;"
                        >{{ item.product_name |e }}</h3>
                        <div>
                            <img 
                            style="margin-left: 1rem; margin-right: 1rem;"
                            src="https://cdn.tripadvisor.com/img2/email/rex/ratingstar{{ item.product_rating|e }}.png"
                            > {{ item.product_review_count|e }} reviews
                        </div>
                        <div style="padding-top: 1rem;">
                            <button onclick="location.href='{{ item.product_link|e }}'" 
                            style="font-weight: 600;margin-left: 1rem;margin-right: 1rem;padding-bottom: 1rem;padding-top: 1rem;border-radius: 4px;text-decoration: none;background-color: #f1f1f1;border-color: #AF143E;color: #AF143E; width: 90%;font-family: Poppins, Helvetica, Arial, sans-serif;font-size: 0.875rem;line-height: normal;"
                            >See details</button>
                        </div>
                    </div>
                    <div style="width: 50%;">
                        <img width="100%" 
                        src="{{ item.product_photo_url|e }}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>